@page
@model kontent_sample_app_razorpages.AboutModel
@{
    ViewData["Title"] = "About us - Dancing Goat";
}

@if (Model.AboutUs.Item.OurMotto != null)
{
    <div class="motto">@Model.AboutUs.Item.OurMotto</div>
}
@foreach (var video in Model.AboutUs.Item.Video)
{
    var host = video.VideoHost.FirstOrDefault()?.Codename;
    if (host == "vimeo")
    {
        <iframe class="hosted-video__wrapper"
                src="https://player.vimeo.com/video/@(video.VideoId)?title =0&byline =0&portrait =0"
                width="640"
                height="360"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen>
        </iframe>
    }
    else if (host == "youtube")
    {
        <iframe class="hosted-video__wrapper"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/@(video.VideoId)"
                frameborder="0"
                allowfullscreen>
        </iframe>
    }
}

@for (int i = 0; i < Model.AboutUs.Item.Facts.Count(); i++)
{
    var fact = Model.AboutUs.Item.Facts.ElementAt(i);
    var odd = (i % 2) == 0;
    <section class="row text-and-image">
        <h2 class="col-lg-12">
            @fact.Title
        </h2>
        <div class="col-md-6@( odd ? " col-md-push-6" : "" )">
            <div class="text-and-image-text@(odd ? "-right" : "" )">
                @Html.DisplayFor(vm => fact.Description)
            </div>
        </div>
        <div class="col-md-6@( odd ? " col-md-pull-6" : "" )">
            <img class="img-responsive" src="@Html.DisplayFor(modelItem => fact.Image.First().Url)" />
        </div>
    </section>
}

